*{
    padding: 0;
    margin: 0;
    color: bisque;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3{
    font-family: 'Dancing Script', cursive;
}

body{
    background: rgb(139, 0, 139) linear-gradient(rgb(139, 0, 139), rgb(75, 0, 130));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(1,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
}

.nav{
    background: rgb(139, 0, 139) linear-gradient(rgb(139, 0, 139), rgb(75, 0, 130));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(1,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    width: 97vw;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 15px;
    height: 65px;
    background-color: black;
    box-shadow: 10px 20px 20px 12px #800080;
}

.logo{
    display: inline-block;
}

.hr{
    font-family: 'Dancing Script', cursive;
    text-align: right;
    margin-top: -35px;
    font-size: 15px;
}

ul.hr {
    
   }
   ul.hr li {
    font-family: 'Dancing Script', cursive;
    display: inline; 
    margin-right: 40px; 
   }

a{
    font-size: 25px; 
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    
}

a:hover{
    color: burlywood;
    transition: .2s linear;
}

header{
    padding-top: 400px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    background: url(img/159106519211368244.jpg);
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 97vw;
    height: 45vw;
    border: 5px ridge gray;
    border-radius: 10px;
    background-color: black;
}
