*{
    padding: 0;
    margin: 0;
    color: bisque;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3{
    font-family: 'Dancing Script', cursive;
}

body{
    background: rgb(139, 0, 139) linear-gradient(rgb(139, 0, 139), rgb(75, 0, 130));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(1,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
}

.nav{
    background: rgb(139, 0, 139) linear-gradient(rgb(139, 0, 139), rgb(75, 0, 130));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(1,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    width: 97vw;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    border-radius: 15px;
    height: 65px;
    background-color: black;
    box-shadow: 10px 20px 20px 12px #830099;
}

.logo{
    display: inline-block;
}

.hr{
    font-family: 'Dancing Script', cursive;
    text-align: right;
    margin-top: -30px;
    font-size: 15px;
}

ul.hr {
    
   }
   ul.hr li {
    font-family: 'Dancing Script', cursive;
    display: inline; 
    margin-right: 40px; 
   }

a{
    font-size: 25px; 
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    
}

a:hover{
    color: burlywood;
    transition: .2s linear;
}

@media(max-width: 1000px){
    .nav{
        height: 80px;
        align-items: center;
        padding-top: 25px; 
        font-size: 20px;
    }
    .micro{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        transition: .5s linear;
    }
}

header{
    padding-top: 400px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    background: url(img/159106519211368244.jpg);
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 97vw;
    height: 50vw;
    border: 5px ridge gray;
    border-radius: 10px;
    background-color: black;
}

.btn {
  margin-top: 30px;
  font-size: 200%;
  display: inline-block;
  color: black;
  width: 450px;
  height: 100px;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid violet;
  border-radius: 7px;
  background: rgb(139, 0, 139);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
  transition: .2s linear;
} 
.btn:hover {
    cursor: pointer;
    transition: .2s linear;
    background-color: #8000FF;
    border: none;
}
.btn:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

.micro{
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    max-height: 1000px;
    margin-bottom: 50px;
    box-shadow: 10px 20px 20px 2px white;
    font-size: 25px;
    display: flex;
    border: 2px solid gray;
    background-color: #8A2BE2;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    transition: .2s linear;
}

.micro:hover{
    transition: .5s linear;
}

.micro:hover .img img{
    width: 450px;
    height: 450px;
    transition: .3s linear;
}

.hover img{
    width: 450px;
    height: 450px;
    transition: .3s linear;
}

.text{
    text-align: left;
    margin-left: 100px;
    width: 2000px;
    font-family: 'Montserrat', sans-serif;
}
.text:hover{
    color: darkslategray; 
}

.h2{
    font-family: 'Montserrat', sans-serif;
}

.img{
    width: 400px;
    height: 400px;
    transition: .3s linear;
}

img{
    width: 100%;
    height: 100%;
}


.micro:hover{
    color: darkslategray;
    box-shadow: 10px 20px 20px 2px gray;
    background-color: #7B68EE;
    transition: .3s linear;
}

.text p{
    display: none;
}

.micro:hover .text p{
    display: block;
}

.h1{
    text-decoration: none;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

/* Categorii */

.categorii{
    width: 96vw;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white; 
}

.img_categorii{
    margin-top: 15px;
    width: 300px;
    height: 300px;
    margin-left: 15px;
    border-radius: 30px;
    border: 1px solid red;
    background-color: aliceblue; 
    transition: .2s linear;
}

.img_categorii:hover{
    width: 305px;
    height: 305px;
    margin-left: 10px;
    transition: .2s linear;
}


/* About */

.about{
    width: 99vw;
    background: linear-gradient(to top, #000, #001);
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    padding: 30px;
    text-align: center;
    
}

.text_about{
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 70vw;
}

/* Vetrina */

.vetrina{
    color: black;
    margin-top: 25px;
    width: 20vw; 
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.vetrina img{
    width: 500px;
    height: 500px;
    margin-left: -150px;
}

.container_vetrina{
    margin: 25px auto;
    width: 20vw;
    display: flex;
    gap: 35px;
}

.vetrina h1{
    text-align: center;
}

.vetrina p{
    text-align: center;
    
}
.vetrina_p{
    margin: 0 auto;
    width: 500px;
}

@media(max-width: 1120px){
    .container_vetrina{
    margin: 0 auto;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

.infa{ 
    color: currentColor;
    background: linear-gradient(#cff,#3f9);
    width: 85vw;
    border: 3px ridge gray;
    margin-left: auto;
    margin-right: auto;
    transition: 1.5s linear;
}

.infa:hover{
     transition: 1.5s linear;
    background: linear-gradient(#3f9,#cff);
}

.infa p{
    color: black;
    transition: 1.5s linear;
}

.infa:hover p{
    margin-left: 50%;
    transition: 1.5s linear;
}

.infa h1{
    color: black;
    transition: 1.5s linear;
}

.infa:hover h1{
    margin-left: 60%;
    transition: 1.5s linear;
}

.img10{
    margin-top: -60%;
    transition: 1.5s linear;
    display: inline;
    margin-left: 60%;
}

.infa:hover .img10{
    transition: 1.5s linear;  
    text-align: left;
    margin-left: 0;
}

svg{
    margin-top: -10%;
    width:100%;
    display: inline;
}



/* Footer */

footer{
    padding: 10px;
    padding-top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 70px;
    opacity: 0.8;
    background-color: black;
}





































